doctype html
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Simple Polylines
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 70%;
      width: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 10px;
      padding: 0;
      }
  body
    h1= 'Current scenario'
    #map

    script.
      var yo = [#{chains_list}]
      // console.log(yo);
      var wow = [#{nearby_users}]
      // console.log(wow);
      // This example creates a 2-pixel-wide red polyline showing the path of
      // the first trans-Pacific flight between Oakland, CA, and Brisbane,
      // Australia which was made by Charles Kingsford Smith.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: {lat: #{me.lat}, lng: #{me.lng}},
      mapTypeId: 'terrain'
      });

      yo.forEach(function(this_chain) {
        var chain1_list = this_chain.coord_array;
        console.log(chain1_list);
        var chain1 = new google.maps.Polyline({
        path: chain1_list,
        geodesic: true,
        strokeColor: this_chain.color,
        strokeOpacity: 1.0,
        strokeWeight: 2
        });
        chain1.setMap(map);
      });

      wow.forEach(function(this_user) {
        // console.log(this_user);
        var marker = new google.maps.Marker({
          position: {lat: this_user.lat, lng: this_user.lng},
          map: map,
          title: this_user.username
          });
      });

      var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
      var meMarker = new google.maps.Marker({
        position: {lat: #{me.lat}, lng: #{me.lng}},
        map: map,
        icon: image
      });

      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB5YKqBNhQ2DSXJYlVhj3Fr6b39X-NlWmA&callback=initMap')
    h2= 'Create chain and extend to -'
    ol
    each user in nearby_users
      if user
        li
          a(href=user.username) #{user.username}
